# === Database ===
ECL_DB_HOST=localhost
ECL_DB_PORT=5432
ECL_DB_USER=postgres
ECL_DB_PASSWORD=postgres
ECL_DB_NAME=test_db

# === Django ===
ECL_DJANGO_ALLOWED_HOSTS=["localhost", "127.0.0.1"]
ECL_DJANGO_CORS_ALLOWED_ORIGINS=["http://localhost:10001", "http://127.0.0.1:10001"]
ECL_DJANGO_SECRET_KEY=xxxxxxxxxxxxxxxxxx
ECL_DJANGO_DEBUG=True

# === Celery ===
ECL_CELERY_BROKER_URL=redis://redis:6379/0
ECL_CELERY_RESULT_BACKEND=redis://redis:6379/0
ECL_CELERY_TIMEZONE=UTC

# === Initial admin user ===
ECL_ADMIN_EMAIL=admin@example.com
ECL_ADMIN_PASSWORD=changeme
